* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* MENU */

header {
    background: url("../img/menu-bg.jpg");
}

header a {
    color: white;
    text-decoration: none;
}

header > div {
    width: 85%;
    margin: 0 auto;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div .logo {
    font-size: 1.9em;
    margin-right: 80px;
}

header > div > nav {
    flex: 4;

    display: flex;
}

header > div > nav a {
    padding: 0 10px;
    border-right: 1px solid white;
    font-size: 1.2em;
}

header > div .redes {
    flex: 2;

    display: flex;
    justify-content: flex;
    align-items: center;
}

header > div .redes a {
    font-size: 50px;
    margin-left: 20px;
}

header > div .botones {
    width: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div .btn-acceder {
    font-size: 1.3em;
    padding: 10px;
    border: 2px solid lightblue;
    border-radius: 10px;
}

header > div .btn-acceder:hover {
    background-color: #2b2b2b;
}

/* PAGE */
.page {
    min-height: calc(100vh - 567px);
}

/* BANNER */

.banner {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.banner-text {
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto {
    width: 80%;
    margin: 0 auto;
}

.texto h1 {
    font-size: 3.8em;
    font-weight: normal;
}

.texto h3 {
    font-size: 2.3em;
    font-weight: normal;
    margin: 0 0 60px 0;
}

.search-bar {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    height: 60px;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
}

.search-bar input {
    border: none;
    flex: 1;
    border-radius: 20px 0 0 20px;
}

.search-bar input:focus {
    outline: none;
}

.search {
    border: 2px solid #868686;
    width: 60px;
    border-radius: 0 20px 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search a {
    padding: 25px;
    font-size: 2em;
    color: #868686;
}

.search:hover {
    background-color: #dbdbdb;
}

.search a:hover {
    color: #343434;
}

.banner-img {
    background: url("../img/pc-gamer.jpg") no-repeat center/cover;
}

/* MARCAS */
.marcas {
    height: 150px;
    background: url("../img/marcas.png");
}

/* DESTACADOS - NUEVOS */
.titulo-destacados, .titulo-nuevos {
    height: 80px;
    background: url("../img/menu-bg.jpg");
    color: #fff;
    font-size: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nuevos {
    margin-bottom: 40px;
}

.titulo-destacados h2 {
    font-weight: normal;
}

.titulo-nuevos h2 {
    font-weight: normal;
}

.productos-destacados, .productos-nuevos {
    padding: 1em;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.productos-destacados article img {
    width: 100%;
}

.productos-destacados article h3 {
    font-size: 1.7em;
    font-weight: normal;
    margin: 10px 0;
}

.productos-destacados article span {
    font-size: 2.2em;
    display: block;
    color: rgb(9, 111, 136);
    letter-spacing: 1.5px;
}

.productos-nuevos article img {
    width: 100%;
}

.productos-nuevos article h3 {
    font-size: 1.7em;
    font-weight: normal;
    margin: 10px 0;
}

.productos-nuevos article span {
    font-size: 2.2em;
    display: block;
    color: rgb(9, 111, 136);
    letter-spacing: 1.5px;
}

/* PRODUCTOS */
.cont-productos {
    width: 85%;
    margin: 20px auto;

    display: flex;
}

.categorias {
    list-style: none;

    flex: 1;
}

.categorias li {
    line-height: 2em;
}

.categorias button {
    border: none;
    cursor: pointer;
    font-size: 1.1em;
}

.categorias button:focus {
    outline: none;
}

.subcategorias {
    list-style: none;
    display: block;
}

.subcategorias a {
    text-decoration: none;
    color: #4e4e4e;
}

.show {
    display: none;
}

.productos {
    flex: 4;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.productos article {
    padding: 5px;
    border: 1px solid #cecece;
    height: 500px;
}

.productos article img {
    width: 100%;
    height: 250px;
}

.productos article h3 {
    font-size: 2em;
    font-weight: normal;
}

.productos article .stock {
    padding: 8px;
    margin: 20px 0;
    background-color: #2d3ab6;
    color: #fff;
    width: 80px;
    border-radius: 5px;
}

.productos article span {
    display: block;
}

.productos article .precio {
    color: #077e78;
    font-size: 3em;
}

.botonesProducto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonesProducto a {
    text-decoration: none;
    padding: 8px;
    background-color: rgb(7, 153, 92);
    color: #fff;
    font-size: 1.8em;
    border-radius: 5px;
}

/* FOOTER */
footer {
    background-color: #2e2e2e;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.acerca-de h4 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    margin-bottom: 30px;
}

.acerca-de ul {
    list-style: none;
    line-height: 2.4em;
}

.acerca-de ul a {
    text-decoration: none;
    color: #fff;
}

.seguinos h4 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    margin-bottom: 30px;
}

.seguinos ul {
    list-style: none;
    line-height: 3em;
}

.ubicacion h4 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
}

.mapa {
    height: 230px;
    width: 70%;
    margin: 0 auto;
    background-color: #c51616;
}

.footer-texto {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border-top: 2px solid #fff;
    color: #fff;
    padding: 30px 0; 
}